.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction:column;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
}

.leftside {
  display: flex;
  flex-direction:column;
  text-align: left;
  border: 1px solid black;
  width: 20%;
}

.center {
  display: flex;
  flex-direction:column;
  text-align: left;
  border: 1px solid black;
  width: 60%;
}

.rightside {
  display: flex;
  flex-direction:column;
  text-align: left;
  border: 1px solid black;
  width: 20%;
}

.subtitle {
  padding-top: 10px;
  padding-bottom: 30px;
}

.dbContainer {
  margin: 30px;
}

.dbContainer h3 {
  margin: 30px;
}

.title {
  font-family: 'Bruno Ace SC', cursive;
  font-size: 100px;
  font-weight: bold;
  color: green;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.buttons {
  width: 33.33333%;
  font-size: 30px;
  color: green;
}

.buttons:hover {
  color: black;
}

.searchbar {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.searchform {
  width: 100%;
}

.searchbox {
  width: 100%;
  font-size: 30px;
  text-align: left;
}

.searchbutton {
  font-size: 30px;
  padding-left:1em;
  padding-right: 1em;
  background-color: green;
  color: white;
}

.searchtype {
  color:black;
}

.articles {
  background-color:lightgreen;
}

.movies {
  background-color: aquamarine;
}

.books {
  background-color:lightskyblue;
}

.hidden {
  display: none;
}